@import url('./vendor/fonts/fonts.css');
@import url('./vendor/normalize.css');

*, 
:after, 
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  background-color: #fff;
  color: #000;
  margin: 0;
}

.container {
  margin: 0 auto; 
  max-width: 1280px;
  padding: 0 70px;
}


@media (max-width: 1279px) {
  .container {
    padding: 0 50px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 18px;
  }
}

.container-sm {
  margin: 0 auto; 
  max-width: 1280px;
  padding: 0 70px;
}

@media (max-width: 1279px) {
  .container-sm  {
    padding: 0 50px;
  }
}

@media (max-width: 767px) {
  .container-sm  {
    padding: 0 14px;
  }
}



.logo {
  margin: 18px 0;
  height: 38px;
  width: 38px;
}

.logo:hover {
  opacity: 0.8;
}

.section-title {
  color: #000;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  padding-bottom: 23px;
  margin: 0;
  border-bottom: 1px solid #000;
}

@media (max-width: 767px) {
  .section-title {
    font-size: 18px;
    letter-spacing: -0.72px;
    padding-bottom: 29px; 
  }
}

.submit-btn {
  cursor: pointer;
  border-radius: 3px;
  border: none;
  background: #FF6838;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  padding: 13px 0 15px 0;
}

.submit-btn:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .submit-btn {
    font-size: 12px;
  }
}

.submit-btn_disabled {
  opacity: 0.6;
  cursor: default;
}

.error {
  color: #FF004C;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
  text-align: initial;
}

main {
  display: contents;
}